---

import Card from '../components/Card'
---

<html>
  <body>
    <Card client:load />
  </body>
</html>

<style>
	body{
		display: flex;
		flex-direction: column;
		align-items: center; 
		justify-content: center; 
		height: 100vh; 
	}
</style>


