---
import ShoppingWeek from '../components/ShoppingWeek'

const buyList = [
  'Controller',
  'Bread',
  'Water',
  'Notebook',
  'Math Book',
  'Choco Bar',
  'Milk',
];
---
<html>
  <body>
    <h1>Compras de la Semana</h1>
    <ShoppingWeek client:load items={buyList} />
  </body>
</html>



