---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.tsx';
---
<html>
  <body>
    <Button client:load />
  </body>
</html>



